.yacht-list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px 15px;
   margin-bottom: 20px;

   @include for-mobile-layout {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   }
   img {
      
      // margin-bottom: 0.5rem;
      cursor: pointer;
      object-fit: cover;
   }
   > * {
      grid-column: span 1;
   }
}
